[2018-03-15 08:56] TheMarsGuy opened #3 "Add contact isn't working."
I tried to add a contact, but calling the provided function does nothing i.e nothing happens.
I am sure that the function inside the package is being called upto the dart code which defines the same.

I making using of this package to get contacts which works perfectly.

[2018-03-15 08:59] clovisnicolas commented on #3
Are you on Android or iOS?
Are the FirstName & LastName properties filled when you add the contact ?

[2018-03-15 09:02] bucketclan commented on #3
I am on Android. No, nothing is pre-filled. I wouldn't want it to be pre-filled.

[2018-03-15 09:07] clovisnicolas commented on #3
when you call :
await ContactsService.addContact(newContact);
the newContact does not have a LastName or FirstName ?

[2018-03-15 09:08] bucketclan commented on #3
Yup. `await ContactsService.addContact(new Contact());`

[2018-03-15 09:09] clovisnicolas commented on #3
That is the problem, you cannot add an empty contact.
In your android contacts app, if you add a new contact, do not enter any information and press "Save", the contact is not added because it does not have any information.
I should add it to the readme.

[2018-03-15 09:11] bucketclan commented on #3
Tried `await ContactsService.addContact(new Contact(givenName: "h", familyName: "b"));` too. Doesn't it open the add contact page of the phone's contact app?

[2018-03-15 09:22] clovisnicolas commented on #3
this is working for me
```await ContactsService.addContact(new Contact(givenName: "a", familyName: "b"));```
Can you make sure contact permissions are enabled ?
If so, tell me what is your device & android version, i'll try to reproduce the issue

[2018-03-15 09:25] bucketclan commented on #3
The contact permissions are enabled.
Android Version: 5.1
Model Number: Moto G

Also can you please let me know, whether the add contacts screen is opened or does it directly add to the contacts?

[2018-03-15 09:43] clovisnicolas commented on #3
It adds the contact directly to your contact list
So if you open your contacts app you should be able to see it.

[2018-03-15 09:51] clovisnicolas commented on #3
Just tried on a 5.1.1 tablet it's working fine.
Can you try to run the sample, add a contact, fill in the first & last name in the form, save, open the contacts app and see if it's in there ?

[2018-03-15 10:10] bucketclan commented on #3
Tried the sample app, add contacts works well. I really wanted it to open the add contacts screen of the contacts.
Thanks for the help and for the package.

[2018-03-15 10:10] #3 closed

[2018-03-17 04:36] EphronKarthick opened #4 "contacts_service 0.0.4 isn't working"
I have used flutter contacts_service 0.0.4 plugin for get contacts, it is works fine on android version 4.4.2, but in android version 6.0.1, it could not fetch contacts on android mobile device.

So please guide me how to solve the issue.

[2018-03-17 09:48] clovisnicolas commented on #4
Can you make sure permissions are enabled on the 6.0.1 device ? The plugin does not ask for them by default

[2018-03-17 10:19] EphronKarthick commented on #4
Thanks for your comments.
Now i enabled the permission for my app, its working fine..

[2018-03-17 10:19] #4 closed

[2018-03-27 08:41] freewheelnat opened #5 "Request: Avatar (ie Thumbnail)"
Hi there,
I am aware providing thumbnails is on your to do list, I'm opening this issue to find out if you want help with the Android code for this.

I've done an Android app, using Flutter, where I fetch contacts including their avatars, so I have Android code I could add to this project, but I don't have iOS code, and I don't know iOS, so my PR would only be for Android.

The app I have done it

[2018-03-27 09:06] clovisnicolas commented on #5
Hello,

I've added a "thumnbails" branch, you can make a pull request on this branch with the android code, i'll try to do the iOS version afterwards asap

[2018-03-28 07:49] freewheelnat commented on #5
Thanks a lot! I'll do that next week, probably on Wednesday.

[2018-04-01 22:13] ParitoshBh opened #6 "Request: Lookup phone number"
They contact query (by name, I am guessing) works very well. However, is there a way to lookup contact(s) based on a phone number?

I understand this isn't something on your to-do list but it'd be great to know if there's a way to do so in library's current state?

[2018-04-01 23:16] clovisnicolas commented on #6
As a workaround, you can fetch all contacts and then filter them based on the phone number values :
Something like this could work :
[code]

[2018-04-01 23:19] ParitoshBh commented on #6
That was my first thought but from a performance stand point would this be slower than using something like `ContactsContract.PhoneLookup`?

[2018-04-01 23:29] clovisnicolas commented on #6
Yes I guess that would be more performant, especially if you have 100's of contacts.
I doubt i will be adding this to the library any time soon though.
PRs are welcome :)

[2018-04-02 00:01] ParitoshBh commented on #6
I will try to push a PR as and when I get time :)

[2018-04-03 16:07] freewheelnat commented on #5
I've had a few delays on my side, so PR will probably be late this week/early next week rather than tomorrow, I need to finish something else before I get started on this.

[2018-04-05 13:37] zoechi opened #7 "java.lang.SecurityException: Permission Denial"
I added `<uses-permission android:name="android.permission.READ_CONTACTS" />` to `AndroidManifest.xml`, but I still get

[code]

[code]

Do you have any idea how to fix that?

[2018-04-05 13:53] zoechi opened #8 "Exception with --preview-dart-2"
[code]

[2018-04-05 14:06] zoechi commented on #7
The image_picker plugin had a similar problem recently.

When I go to Settings >  Apps & notifications > My App > Permissions
I get Contacts shown as disabled. When I enable it, reading the contacts works.

I'd expect to get asked in a popup if permissions are not set (like the image_picker plugin does for camera and storage access)

[2018-04-05 14:31] clovisnicolas commented on #7
I wish we would have a permission plugin such as https://github.com/yonahforst/react-native-permissions

[2018-04-05 14:37] #8 closed

[2018-04-05 15:55] zoechi commented on #7
I haven't done any mobile development before Flutter and didn't have time yet to dive into it.
I hope someone else knows how to get this fixed ;-)

[2018-04-05 16:18] zoechi commented on #7
https://github.com/Lyokone/flutterlocation/pull/25 seems to fix a similar issue

[2018-04-13 09:45] freewheelnat commented on #5
See PR https://github.com/clovisnicolas/flutter_contacts/pull/10

[2018-04-13 09:55] freewheelnat commented on #7
There seems to be a new plugin https://github.com/Ethras/flutter_simple_permissions . It looks incomplete though - no "shouldShowRationale" for Android, and only a subset of permissions supported for now. I wrote a tutorial about Android permissions in Flutter ( http://cogitas.net/android-runtime-permission-flow-flutter/ ) so I'm going to see if I can improve that plugin for the Android side, as i

[2018-04-13 11:02] clovisnicolas commented on #5
Done, thanks for doing the Android & shared code :)
Next step would be adding a parameter withThumbnails on getContacts to only fetch the images if needed

[2018-04-13 11:02] #5 closed

[2018-04-16 08:15] freewheelnat commented on #5
You're welcome. Thanks to you for updating the plugin already! :-)

[2018-04-28 10:49] knight-shade commented on #7
I am confused whether we need to have a separate plugin for permission handling or the plugin itself should take care of permissions ?

[2018-05-01 07:21] reeteshkumar39 commented on #7
how can get all contacts automatic without user interaction for enabling permission

[2018-05-01 07:40] zoechi commented on #7
@reeteshkumar39 I don't think you should be able to access a users contacts without his consent.

[2018-05-01 07:54] knight-shade commented on #7
@zoechi @reeteshkumar39   nope you can't access without the user giving the permission, thsts why its crashing

[2018-05-01 12:02] rodydavis commented on #7
There needs to be a way to request contacts permission on initPlatformState and provide a fallback if permission is denied. The app will crash otherwise.

[2018-05-01 15:49] freewheelnat commented on #7
Following from my previous comment, I have done the PR to add Android contact permissions (read/write) to the [simple_permissions plugin](https://pub.dartlang.org/packages/simple_permissions#-readme-tab-); the maintainer has now done the iOS code and has published an updated version of the plugin. Therefore, I would recommend using that plugin.

I will work on the PR for "shouldShowRationale" flow

[2018-05-01 16:40] rodydavis commented on #7
@freewheelnat thanks for that I had actually today just finished getting the permissions working on iOS 9.0 and later for Reading and Writing Contacts.

https://github.com/AppleEducate/flutter_simple_permissions

[2018-05-02 08:00] reeteshkumar39 opened #13 "how can get all contacts no in flutter with your plugin"

[2018-05-02 08:05] clovisnicolas commented on #13
I'm not sure to understand what you need
[code]

Here's how you can fetch contacts matching a phone number

[2018-05-02 08:15] clovisnicolas commented on #13
Ok I think I understood what you want, is it something like
[code]

[2018-05-02 08:24] clovisnicolas commented on #7
Thanks for handling contact permissions in your plugin, i'll add a link to this in the Readme.

[2018-05-02 11:03] reeteshkumar39 commented on #13
thank you.......it works

[2018-05-15 20:14] jiajiabingcheng opened #14 "Can I add a picker and writer method to this plugin?"
Hi Clovis,

Nice plugin! In my app I want to pick a single contact from the device phone book (launch the device phone book page) and export one contact to the device phone book (open the device contact edit page). Can I pr to add these two methods to your plugin?

Also I find there's no permission check and request dialog in this plugin, can I add this part too? Something like:

`if (readStorageP

[2018-05-16 03:47] clovisnicolas commented on #14
Hello,

Yes I guess it would be nice to have something like pickContact / openContactForm 😃

However, I suggest that people use [flutter_simple_permisssions](https://github.com/AppleEducate/flutter_simple_permissions) to handle permissions. This ensures they are handled the same way for all plugins, instead of each plugin providing his own custom way to check for permissions.

[2018-05-16 06:40] TheMarsGuy opened #15 "Not able to fetch contacts"
[code]

I guess it's some type error in the Dart interface. The package was working fine, until I upgraded flutter  and dart(to Dart 2).

[2018-05-16 06:42] zoechi commented on #15
Did you update to the latest `contacts_service` version `0.0.6`?

[2018-05-16 06:53] bucketclan commented on #15
Just upgraded. Seeing the same error.

[2018-05-16 07:02] zoechi commented on #15
What is the output of `flutter doctor`?
I think `flutter clean` is also worth a try.

[2018-05-16 07:15] bucketclan commented on #15
[code]

[2018-05-16 07:23] zoechi commented on #15
That's a really old Flutter version.
You might try `git clean -xffd` in the Flutter install dir and then `flutter doctor` in your project dir.

[2018-05-16 08:23] bucketclan commented on #15
Thanks for pointing out the issue. I upgraded my flutter version. It works now.

[2018-05-16 18:33] jiajiabingcheng commented on #14
Great! Thanks :]

[2018-05-16 18:33] #14 closed

[2018-05-17 08:58] #7 closed

[2018-05-19 09:29] niektemme opened #16 "PlatformException on ios (simulator) with Flutter beta 3, dart 2 when adding a contact"
First I would like to thank you for your great work and writing this package. I think it is very helpful to a lot of developers.

I upgraded yesterday to flutter beta 3 and the latest version of the contacts_service plugin. I tried the example on both ios (simulator) and android (first pixel). On android everything works fine. On ios (iPhone X simulator), I get a PlatformException error when addin

[2018-05-20 12:27] zoechi commented on #16
What code did you use to add the contact? What fields did you set?

[2018-05-20 18:49] niektemme commented on #16
For the code I used the example in this git repository. (see git status below).
1. Checked out latest version of this git repo
2. cd to example
3. flutter run -d iPhone

Fields that I set (sorry for not giving a complete example earlier).
The fields here refer to the UI in the simulator of the running flutter contacts plugin example app.
1) First name, Value: Aatest3
2) Last name, Value Aatest4
3)

[2018-05-25 15:27] niektemme commented on #16
Just wanted to give an update on this issue. I tried reverting back to version 0.5 of the contacts pluging. This by checking out the git repo at tag 0.0.5. Then the example works fine in the ios simulator. Tested adding a contact in the simulator and this worked without problems and errors.

According to the git log version 0.0.5 is the version before the thumbnails update. This makes me think the

[2018-05-26 10:12] reeteshverma39 opened #18 "when we run project in ios then gives error"
/Users/prateeksuraj/.pub-cache/hosted/pub.dartlang.org/contacts_service-0.0.6/ios/Classes/ContactsServicePlugin.m:2:9: fatal error: 'contacts_service/contacts_service-Swift.h' file not found
#import <contacts_service/contacts_service-Swift.h>

[2018-05-27 14:53] germanmarcus opened #19 "Build failed on iOS (SWIFT_VERSION)"
Hi,

the example works fine. But when I tried to compile my own project, the following error occurred:
[code]

I figured out, that the solution/ workaround is to change the configuration in "ios/Runner.xcodeproj/project.pbxproj":
from
`VERSIONING_SYSTEM = "apple-generic";`
to
[code]

Is there a dependency compiled in an earlier swift version that could be updated?

Best,
Marcus

[2018-06-04 09:28] olaray opened #20 "Issue getting contacts on android emulator, android physical devices and ios devices"
I am having issue using this plugin on android. it crashes after it has gotten the contacts. It works fine on ios.

see my trace below

D/AndroidRuntime(11912): Shutting down VM
E/AndroidRuntime(11912): FATAL EXCEPTION: main
E/AndroidRuntime(11912): Process: com.appzonegroup.zone, PID: 11912
E/AndroidRuntime(11912): java.lang.IllegalStateException: Reply already submitted
E/AndroidRuntime(11912):

[2018-06-05 12:10] #20 closed

[2018-06-05 12:13] olaray opened #21 "Android crashes few seconds after getting all contacts"
D/AndroidRuntime(11912): Shutting down VM
E/AndroidRuntime(11912): FATAL EXCEPTION: main
E/AndroidRuntime(11912): Process: com.appzonegroup.zone, PID: 11912
E/AndroidRuntime(11912): java.lang.IllegalStateException: Reply already submitted
E/AndroidRuntime(11912):        at io.flutter.view.FlutterNativeView$1.reply(FlutterNativeView.java:146)
E/AndroidRuntime(11912):        at io.flutter.plugin.com

[2018-06-05 13:45] zoechi commented on #21
please add the output of `flutter doctor`

[2018-06-06 07:42] olaray commented on #21
[✓] Flutter (Channel beta, v0.4.4, on Mac OS X 10.13.4 17E202, locale en-NG)    • Flutter version 0.4.4 at /Users/Zone1/Downloads/flutter    • Framework revision f9bb4289e9 (4 weeks ago), 2018-05-11 21:44:54 -0700
    • Engine revision 06afdfe54e
    • Dart version 2.0.0-dev.54.0.flutter-46ab040e58

[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
    • Android SDK at /User

[2018-06-06 07:50] zoechi commented on #21
And you are you using the latest plugin version?

[2018-06-09 19:19] dmjones opened #23 "Is WRITE_CONTACTS permission required if only read methods used?"
The README states:

Is `WRITE_CONTACTS` required if I only plan to read the contact information?

[2018-06-09 19:41] clovisnicolas commented on #23
You should be fine by just setting READ_CONTACTS.

[2018-06-10 08:13] #23 closed

[2018-06-12 12:32] tinkerhead opened #24 "The phone numbers are duplicate."
**Case 1**
When I have a single number associated with a contact.

For each contact it is showing two numbers like `74113 61788` and `7411361788`.
So basically it has a number with spaces and a number without spaces.

The same contact in my phone book app shows just a single number.

**Case 2**
When I have two numbers associated with a contact.

If I have a contact with two different numbers like

[2018-06-19 11:26] olaray commented on #21
Yes I am. The version i am using is `contacts_service: "^0.0.6"`

[2018-06-19 15:32] erik-seifert commented on #21
Same to me

[✓] Flutter (Channel beta, v0.4.4, on Linux, locale en_US.UTF-8)
    • Flutter version 0.4.4 at /home/erik/projects/flutter/flutter
    • Framework revision f9bb4289e9 (5 weeks ago), 2018-05-11 21:44:54 -0700
    • Engine revision 06afdfe54e
    • Dart version 2.0.0-dev.54.0.flutter-46ab040e58

[✓] Android toolchain - develop for Android devices (Android SDK 27.0.3)
    • Android SDK a

[2018-06-20 09:13] HolgerCarlsen opened #25 "Invalid envelope on Android"
Hi, I'm trying to use your plugin but I can't make the example work. Whenever I launch the app and call the service, I get this stacktrace :

[code]

I suppose your plugin works, so I'm missing some step, but which one ?

[2018-07-06 05:35] mavimo commented on #19
@germanmarcus suggested workaround (set `SWIFT_SWIFT3_OBJC_INFERENCE` and `SWIFT_VERSION`) do not work for me, reported error:
[code]
do you find a solution?

[2018-07-08 14:18] mavimo commented on #18
@reeteshverma39 same issue here, do you find some solution?

[2018-07-10 07:20] #16 closed

[2018-07-10 07:31] clovisnicolas commented on #19
Could you update to 0.0.7 and tell me if you still have the issue ?

[2018-07-10 07:31] clovisnicolas commented on #18
Could you update to 0.0.7 and tell me if you still have the issue ?

[2018-07-10 07:43] mavimo commented on #18
@clovisnicolas I'll do in few hours (I'm out of office now)

[2018-07-10 17:28] mavimo commented on #18
Same issue here:
[code]
more info:
[code]

[2018-07-10 17:47] mavimo commented on #18
@clovisnicolas after some more investigation seems that:

 - Header file is missing [here](https://github.com/clovisnicolas/flutter_contacts/blob/master/ios/Classes/ContactsServicePlugin.m#L2) but I see other plugins that also miss it like [flutter_audio](https://github.com/rxlabz/flutter_audio/blob/master/ios/Classes/AudioplayerPlugin.m)
 - Version is wrong [here](https://github.com/clovisnicolas

[2018-07-10 20:22] mavimo commented on #18
@clovisnicolas maybe was my fault, I create a new project with flag `-i swift` and now work as expected! Sorry for the noise, maybe add this info in README can help to reduce noise in issues.

PS: I do not find how to migrate a project to support swift, any idea? :)

[2018-07-10 20:50] blaneyneil commented on #19
using 0.0.7 i get this from the import in ContactsServicePlugin.m:

fatal error: 'contacts_service/contacts_service-Swift.h' file not found

i'm completely unfamiliar with swift though, so i tried to somehow import SwiftContactsServicePlugin.swift instead.  to no avail.  i'm not sure if that file is missing, or should just be renamed.

[2018-07-10 21:19] mavimo commented on #19
@blaneyneil seems a "non issue", do you bootstrap the flutter project using swift? Since this plugin use swift you need to use `-i flutter` flag when do you create a project.
No solution to add swift support on already running project, the suggested solution is to:
 - create a new project with the same name in a different folder including swift support
 - backup your `ios` folder
 - replace curren

[2018-07-11 07:12] clovisnicolas commented on #18
Ok thanks for the info, I'll close this for now

[2018-07-11 07:12] #18 closed

[2018-07-11 07:12] #19 closed

[2018-07-11 08:50] clovisnicolas commented on #25
Do you still have the issue with the latest version of flutter & this plugin?

[2018-07-11 08:53] reeteshverma39 commented on #18
Thanks guys i will check ASAP

[2018-07-12 15:00] erik-seifert commented on #21
is there any progress ?

[2018-07-12 16:36] olaray commented on #21
I created a PR on this already...

https://github.com/clovisnicolas/flutter_contacts/pull/22

[2018-07-15 07:54] pteamup opened #27 "MissingPluginException(No implementation found for method getContacts on channel github.com/clovisnicolas/flutter_contacts)"
MissingPluginException(No implementation found for method getContacts on channel github.com/clovisnicolas/flutter_contacts)
E/flutter (11181): #0      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:278:7)
E/flutter (11181): <asynchronous suspension>
E/flutter (11181): #1      ContactsService.getContacts (package:contacts_service/contacts_service.dart:12:40)
E/flutte

[2018-07-15 09:21] #27 closed

[2018-07-15 09:23] pteamup commented on #27
The above error occured due to missing of this line in MainActivity in android
GeneratedPluginRegistrant.registerWith(this);

[2018-07-22 07:54] user883311 opened #28 "build failed - SWIFT_VERSION not supported"
I have created a basic Flutter app using the CLI Flutter tool. Starting with the basic demo app, I only added an import of the `contacts_service` package.

When running `flutter run` or `flutter build`, I get the following message in the terminal:

[code]

I am a newbie, and not sure if this is a problem with the Flutter contacts package or my own mistake?

Any suggestion would be very appreciated

[2018-07-22 08:27] user883311 commented on #28
My apologies. This issue had previously been raised and solved.
[mavimo's](https://github.com/clovisnicolas/flutter_contacts/issues/19) solution worked for me.

[2018-08-08 12:43] AnilAhuja506 opened #29 "Phone Numbers Are Going To Be Saved In Email Field"
whenever i want to save a contact the phone number will goes to email field

[2018-08-10 20:28] zeyadkhaled commented on #25
Hello I am still having this issue

`[ERROR:topaz/lib/tonic/logging/dart_error.cc(16)] Unhandled exception:
E/flutter (14173): FormatException: Invalid envelope
E/flutter (14173): #0      StandardMethodCodec.decodeEnvelope (package:flutter/src/services/message_codecs.dart:549:7)
E/flutter (14173): #1      MethodChannel.invokeMethod (package:flutter/src/services/platform_channel.dart:279:18)
E/flut

[2018-08-14 11:07] zeyadkhaled commented on #29
I have the same issue. Phones are being added to the email field rather than the phones field.

[2018-08-16 15:45] clovisnicolas commented on #29
Should be fixed in the last version (0.0.8)
Please note you'll need Dart 2 after updating

[2018-08-16 15:45] #29 closed

[2018-08-19 09:30] osamagamal65 commented on #21
this issue happens when the function called for the sceond time  (when i install the package for the first time it runs well, however when trying to run  get contacts later this issue seems to happen )

Shutting down VM
E/AndroidRuntime( 6142): FATAL EXCEPTION: main
E/AndroidRuntime( 6142): Process: com.cloudsoft.pecards, PID: 6142
E/AndroidRuntime( 6142): java.lang.IllegalStateException: Reply al

[2018-08-21 10:35] wal33d006 commented on #21
Same goes for me. Using ^0.0.8. Android crashes immediately. iOS not even building. Saying that it requires an older version of Swift.

[2018-08-21 15:39] wal33d006 commented on #21
This is the log. App opens and crashes immediately.
Running 'gradlew assembleDebug'...
Built build/app/outputs/apk/debug/app-debug.apk.
Installing build/app/outputs/apk/app.apk...
I/FlutterActivityDelegate( 7471): onResume setting current activity to this
Syncing files to device Android SDK built for x86 64...
E/AndroidRuntime( 7471): FATAL EXCEPTION: AsyncTask #2
E/AndroidRuntime( 7471): Process:

[2018-08-21 15:47] wal33d006 commented on #21
@olaray @b-connect @osamagamal65
It's working. For iOS, you need to create flutter project like this => flutter create -i swift your_app_name.
In android if it's crashing, just go to android settings and enable the contacts permission in app management.
You need to integrate a permissions plugin in the app in order to get permission through code.

[2018-08-28 06:37] deidyomega opened #31 "Cant Add Contacts"
Your add contact example is one line, with no guide on how to initialize the contact.

Looking at the source, I think my below code should work, but it fails with below error.  Any idea on how I'm doing wrong?

(Tried on Android 9 && Android 8)

Code:
[code]

Error:
[code]

[2018-08-28 12:49] clovisnicolas commented on #31
Some people seem to have this invalid enveloppe issue which i'm unable to reproduce on my end...
Could you run the example and see if you have the same issue ? If so could you check where exactly it crashes ?

Thanks

[2018-09-03 11:45] yeahia2508 opened #32 "Takes so much time comparing native android"
To fetch my contact native android code take almost no time but this package takes 5-10 sec to load my contact. That's too much time.

      getContacts() async{
    var contacts = await ContactsService.getContacts();

    setState(() {
      _contacts = contacts;

      Navigator.pushReplacement(
          context,
          MaterialPageRoute(
          builder: (context) => ChatHome(user: widget

[2018-09-03 22:21] deidyomega commented on #31
![screenshot_1536013085](https://user-images.githubusercontent.com/943559/45002561-30e37100-af95-11e8-9374-60a4a94442c0.png)

I can't get your example to run at all.  However my example -->

Create a new flutter project, copy/paste my function in, and have it execute on the example btn click, and you'll see the crash.   I tried creating the min required for the bug to appear.
[code]

[2018-09-09 16:17] ThinkDigitalSoftware commented on #24
You may have to consider that the contacts are linked in your previous phone and being shown as a single contact, but they're broken up when restored. This is an issue I'm having as well

[2018-09-09 16:18] ThinkDigitalRepair opened #34 "System Message after deleting contacts"
W/System  (19293): A resource failed to call close.

[2018-09-11 14:06] salanfe commented on #32
same issue

[2018-09-13 09:43] clovisnicolas commented on #31
@deidyomega I see "Permission Denial", have you checked if permissions were enabled?

[2018-09-14 07:09] isoos opened #35 "Could you public toMap() of Contact class"
_From @lucyhoang on September 14, 2018 1:41_

URL: https://pub.dartlang.org/packages/contacts_service#-readme-tab-

Hi, could you public toMap function of Contact class?

_Copied from original issue: dart-lang/pub-dartlang-dart#1610_

[2018-09-14 07:09] isoos commented on #35
@lucyhoang: this repository is for the pub site, please file issues to the package's repository. I'm moving this now.

[2018-09-14 16:16] ThinkDigitalSoftware commented on #35
@lucyhoang, I have made a pull request already for that method. Please see https://github.com/clovisnicolas/flutter_contacts/pull/33

[2018-09-14 16:17] ThinkDigitalRepair opened #36 "Can we implement adding raw_contacts"
https://developer.android.com/reference/android/provider/ContactsContract.RawContacts
I'm reading straight from a DB, so the concept of full contacts isn't available to me. I need to aggregate the raw contact information.

[2018-09-22 07:49] deidyomega commented on #31
I did check.  I literally cloned your repo, cd'd into the directory and ran the app.  I checked, your repo's permissions look correct.

Hey, if you'd be willing to join me on a gotomeeting / skype or something, and resolve this, I'd give you 40 bucks.  I know it's not a lot, but it might help you see what is the underlying issue.

[2018-09-22 10:27] lukasgit commented on #31
@deidyomega @clovisnicolas when you've figured out the problem can you post the solution for the rest of us to understand what was done to resolve the issue?

[2018-09-22 19:13] clovisnicolas commented on #31
Can you try this plugin https://github.com/Ethras/flutter_simple_permissions
And ask for permissions before adding/fetching contacts ?

[2018-09-24 16:12] #36 closed

[2018-09-24 16:12] ThinkDigitalSoftware commented on #36
Figured this out and aggregated it before sending it over.

[2018-09-24 16:13] ThinkDigitalSoftware opened #37 "Feature: Support choosing the account in the phone to add the contact to."
I'm not sure how this can be done programmatically, we would have to use Android intents to do so.

[2018-09-25 08:45] clovisnicolas commented on #37
Would this apply to iOS as well?

[2018-09-25 16:18] ThinkDigitalSoftware commented on #37
I honestly don't know. I've never seen an option to choose a syncing account for newly created contacts.

[2018-09-25 16:18] ThinkDigitalSoftware commented on #37
I can check

[2018-09-25 17:08] vova-beloded opened #38 "IOS build fails without using use_frameworks! in Podfile"
Cannot build on IOS

Xcode's output:
↳
    /Users/vovabeloded/Downloads/flutter/.pub-cache/hosted/pub.dartlang.org/contacts_service-0.0.8/ios/Classes/ContactsServicePlugin.m:4:17: error: definition of 'ContactsServicePlugin' must be imported from module 'contacts_service.ContactsServicePlugin' before it is required
    @implementation ContactsServicePlugin
                    ^
    In module 'cont

[2018-09-25 19:07] ThinkDigitalSoftware commented on #37
Yes it does, @clovisnicolas. Sorry for the huge photo. It's posted straight from iOS...
![8487c725-96c9-4bd7-be01-fef05810d5f0](https://user-images.githubusercontent.com/23037821/46036929-a4bbf980-c0bb-11e8-894a-b7954ab3815a.jpeg)

[2018-09-25 21:34] clovisnicolas commented on #38
Hello, did you create your project with swift support?

[2018-09-25 21:35] clovisnicolas commented on #32
Hello, this probably has to do with thumbnails getting fetched by default.
There should be an optional parameter bool withThumbnails when fetching contacts.
I don't know when I'll have time to do this, so if anyone has some free time i'll gladly look into your PR

[2018-09-25 21:36] solid-vovabeloded commented on #38
I've tried with swift and with obj-c support. The same problem in both projects

[2018-10-01 00:07] deidyomega commented on #31
@lukasgit I had my team abandon flutter as not having a working contact system is blocking, it really needs to be part of core.  I'll look at flutter next year and see if they've gotten basic features like contacts working.

So to answer your question, there is no solution.  My 9 lines breaks when adding to the default sample app.  And there are no alternative libraries that allow you to add conta

[2018-10-01 06:37] clovisnicolas commented on #31
@deidyomega I really do believe you are missing Contact permissions on your app.

The error you showed here is exactly the one I have when freshly installing the app on my device, before allowing the app to access contacts.

This plugin does not handle permissions, either the user has to set them manually or use a 3rd party plugin such as https://github.com/Ethras/flutter_simple_permissions

[2018-10-10 14:32] #21 closed

[2018-10-10 14:33] #25 closed

[2018-10-11 09:52] clovisnicolas opened #40 "Add optional parameter withThumbnails when fetching contacts"
By default, all thumbnails are fetched. There should be an optional parameter to specify whether contacts should be fetched with or without the thumbnails.
This would probably fix #32

[2018-10-11 11:05] zoechi commented on #40
Wouldn't it be better to fetch thumbnails only on demand?
`getThumbnailForContact(...)`
If I load all contacts and the user doesn't scroll to the end of the list, it might fetch a lot of thumbnails for nothing.

[2018-10-11 12:39] clovisnicolas commented on #40
Right, I forgot there is no way to load a particular contact with a given Id.
I still guess it would be nice to have the option to load contacts with or without thumbnails, but we could indeed have another method to either :
- Get the thumbnail for a given Contact (as you said)
or
- Query for a single contact (with a given Id?), with or without thumbnails. This would also allow us to get updates o

[2018-10-21 10:34] neriksso opened #41 "Crashes on iOS Simulator at launch."
Hi,

I keep having problems with this plugin even on a completely fresh project. It builds fine but crashes as it tries to launch on the iOS simulator. As the example project runs fine, it must be something simple I'm missing here.. Any help would be greatly appreciated!

Steps to reproduce:

1. Create a fresh project using the flutter tool: `flutter create -i swift -t app <<appname>>`
2. Open the

[2018-10-27 21:14] adamway commented on #41
I have the same issue! Please help!

[2018-11-01 08:21] umuieme commented on #41
same issue here. Any updates?

[2018-11-15 16:56] korenzerah opened #43 "Request: Update contact"
Hello,
I wanted to ask if there is any intention to develop the update contact feature?
Currently I just delete and re-add the contact to the user, but the problem with that (specifically on Android) is that the new contact is being added to the user's device, and the previous contact might had been on his Google account. I think this feature is required in general.
Really appreciating this plugin

[2018-11-15 20:15] clovisnicolas commented on #43
Hello, I'm afraid I won't have time to work on this anytime soon.

[2018-11-15 20:32] lukasgit commented on #43
@clovisnicolas Would you be willing to allow one of us to manage this repo?

[2018-11-15 20:38] clovisnicolas commented on #43
@lukasgit i'll try to have it moved to fluttercommunity @slightfoot

[2018-11-16 13:19] slightfoot commented on #43
hey @clovisnicolas email community@flutter.zone to take this further.

[2018-11-19 10:53] yeahia2508 commented on #32
is there any update on this issue?

[2018-11-23 15:50] JesusZapata opened #46 "The specified Android SDK Build Tools version (25.0.3) is ignored"
Hello I have one trouble with the next line

https://github.com/clovisnicolas/flutter_contacts/blob/f62e1e7b52476c85f71afe93d363438f6b839bdd/android/build.gradle#L30

[code]

[2018-11-26 19:55] korenzerah commented on #43
Any update?

[2018-11-26 21:42] clovisnicolas commented on #43
Haven't received a reply from flutter community yet

[2018-11-29 09:34] clovisnicolas commented on #43
@korenzerah project has been moved to fluttercommunity, feel free to join and contribute

[2018-11-29 09:38] korenzerah commented on #43
@clovisnicolas Thanks!
And of course thanks for the library in general, already have a production app using your library :)

[2018-12-03 01:01] jeroen-meijer commented on #43
Great work on the package.
We are currently looking for people who are willing to 'adopt' this package and become it's maintainer, either for further development and/or to update it when Flutter or Dart updates.

If any of you want to do so, please contact us in this issue, [by email](community@flutter.zone) or in the Study Group.

I'll leave this issue open since the request feature has not been

[2018-12-03 20:07] lukasgit commented on #43
@jeroen-meijer I sent you an email

[2018-12-05 12:09] bfproject commented on #31
As @clovisnicolas mention, you should handle **Permission.WriteContacts** permission before adding a new contact, using [flutter_simple_permissions](https://github.com/Ethras/flutter_simple_permissions) plugin:

[code]

[2018-12-07 16:33] jeroen-meijer commented on #43
@lukasgit is now owner and maintainer for this package.

[2018-12-07 16:33] #43 closed

[2018-12-09 20:55] AmitToren opened #47 "Can't build project with contacts_service is a dependency"
When trying to run my flutter project I get this error in the terminal:

[code]

The places contacts_service looks for those build tools return 404.
Here's my gradle file:
[code]

[2018-12-11 00:19] bcollins19 commented on #47
I am getting a similar issue (except it is the gradle version that cannot be found)

[code]

Here is my build.gradle:
[code]

[2018-12-24 14:06] mi0772 opened #50 "iOS - MissingPluginException (No implementation found for method getPermissionStatus)"
Hi.

When this method will be implemented ?

thanks for your great work

[2018-12-24 14:07] mi0772 commented on #50
sorry, wrong plugin

[2018-12-24 14:07] #50 closed

[2018-12-25 19:28] keertipurswani opened #51 "App Crashing with 'Permission Denial' reason even after giving permissions"

[2018-12-27 02:36] Peter-717 commented on #51
Did you add the simple_permission plugin? and add the request permission code like for instance:
  PermissionStatus authorizationMyAppStatus =
      await SimplePermissions.requestPermission(Permission.ReadContacts);
prior to call: var myContactVariable = await ContactsService.getContacts();

[2019-01-01 18:52] keertipurswani commented on #51
I didn't call ' await ContactsService.getContacts();' at all. I just added the package and ran my app.

[2019-01-03 10:23] kostasoft opened #53 "Select contact by user."
Is it possible to call the contact selection dialog so that the user chooses the right one?

[2019-01-03 21:18] korenzerah commented on #53
@kostasoft did you take a look at this plugin?
https://pub.dartlang.org/packages/contact_picker

[2019-01-16 01:33] weicht opened #55 "contacts_service-Swift.h file not found"
I tried to no avail the solution offered here: https://github.com/fluttercommunity/flutter_contacts/issues/18

Rebuilt the flutter app with -i swift.

But am still getting the not found error:
**########**
Xcode's output:
↳
    /Users/weicht/devel/flutter/.pub-cache/hosted/pub.dartlang.org/contacts_service-0.0.9/ios/Classes/ContactsServicePlugin.m:2:9: fatal error: 'contacts_service/contacts_servi

[2019-01-16 01:37] weicht commented on #55
Trimmed down pubspec.yaml here:
**#####**
name: demo_app
description: Demonstrates how to use stuff.

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2

  url_launcher: "^3.0.3"
  shared_preferences: "^0.4.3"
  flutter_secure_storage: "^3.1.2"
  contacts_service: "^0.0.9"
  permission_handler: "^2.1.0"

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  assets:
    -

[2019-01-16 01:39] weicht commented on #55
And Podfile here:
**#####**
`platform :ios, '12.0'

ENV['COCOAPODS_DISABLE_STATS'] = 'true'

project 'Runner', {
  'Debug' => :debug,
  'Profile' => :release,
  'Release' => :release,
}

def parse_KV_file(file, separator='=')
  file_abs_path = File.expand_path(file)
  if !File.exists? file_abs_path
    return [];
  end
  pods_ary = []
  skip_line_start_symbols = ["#", "/"]
  File.foreach(file_abs_

[2019-01-16 02:47] jeroen-meijer commented on #53
Question looks answered. Please don't hesitate to reopen if you still have questions @kostasoft.

[2019-01-16 02:47] #53 closed

[2019-01-16 02:48] jeroen-meijer commented on #51
@keertipurswani Is this still an issue? If so, please provide a piece of sample code and the specs of your platform (iOS/Android, what version, real device/emulator, etc.)

[2019-01-16 02:50] jeroen-meijer commented on #41
Is this issue still relevant for all of you?

[2019-01-16 02:52] jeroen-meijer commented on #38
@vova-beloded Do you still have this problem?

[2019-01-16 02:55] jeroen-meijer commented on #55
Perhaps related to flutter/flutter#16036?

[2019-01-17 11:05] weicht commented on #55
I'm slowly going through each of those potential solutions now...

[2019-01-17 11:54] keertipurswani commented on #51
I was using contact picker along with this plugin for another case.

[2019-01-17 11:54] #51 closed

[2019-01-17 19:08] quetool commented on #51
This is still an issue for me.

Here it is the debug console output

[code]

here it is flutter doctor output

[code]

I am just calling

[code]

AndroidManifest already has permissions

works like a charm in iOS both simulator and phisical device

[2019-01-17 19:17] clovisnicolas commented on #51
@quetool did you explicitly ask for permissions in code as suggested by @Peter-717 above?

[2019-01-17 19:20] quetool commented on #51
@clovisnicolas nop, sorry, didn't read that comment. So I need to install another plugin (simple_permission) in orther to make this one work? Will try, thanks!

[2019-01-17 19:29] clovisnicolas commented on #51
Yes, it does seem unconvenient but the idea is that you use a single plugin to manage all user permissions.
If Android decides to handle permissions differently in a future version you have a single plugin to update instead of every single plugin.

[2019-01-17 19:33] quetool commented on #51
@clovisnicolas thanks, I solved it quickly with simple_permission plugin, sorry for bothering with a close issue!
PS: that is one of many reasons I like iOS more than Android :P

[2019-01-22 09:11] shouhuori commented on #55
Same error.

[2019-02-03 18:19] ja2375 commented on #55
This error happens to all flutter projects that import plugins that need Swift support. To fix it:
Don't rebuild the project with swift support. Instead create a fresh new empty project **with swift support**. Then just copy over all your dart files, assets & pubspec. Nothing else but that.

That should fix this issue.

[2019-02-04 02:54] lukasgit commented on #41
@neriksso @adamway @umuieme I've confirmed the latest build is working so closing this issue. If you are still having problems, please check that you are running the latest version of Xcode and Flutter. If you are still experiencing this issue, please let us know.

[2019-02-04 02:54] #41 closed

[2019-02-04 02:57] lukasgit commented on #47
@AmitToren @bcollins19 are you still experiencing this issue with the latest Flutter and contacts_service build?

[2019-02-04 02:57] lukasgit commented on #46
@JesusZapata are you still experiencing this issue with the latest Flutter and contacts_service build?

[2019-02-04 06:52] heromeister commented on #47
My solution was to open a new project completely and that worked for some reason. I deleted the old project so I don't have a way to check it.

[2019-02-06 22:29] Calamari opened #56 "Weird FATAL EXCEPTION AsyncTask #2 when getting contacts"
Hey guys.

I am in a bit of a pickle right now, since I am trying building an app that needs to reads the mobiles contacts but somehow it just fails miserably at this. And I am missing clues how to debug this – since the error message is less than helpful.

Here is the widget I am trying to run:

[code]

And here is what the debug console outputs:
[code]

Maybe I am doing something really stupid –

[2019-02-06 23:03] Calamari commented on #56
After more thinking about it, I got it myself. For future reference, this happens when you don't have the permissions to read the contacts. What I was missing was the [simple_permissions plugin](https://github.com/AppleEducate/flutter_simple_permissions).

So a basic and valid `initialState` method could look like this:

[code]

Sorry for eagerly posting issues. But maybe this helps someone else a

[2019-02-06 23:03] #56 closed

[2019-02-11 16:56] JesusZapata commented on #46
@lukasgit No, I updated the version of Flutter and the version of contacts_service and all work fine.
Thanks

[2019-02-11 16:56] #46 closed

[2019-02-11 17:13] lukasgit commented on #55
See @ja2375 instructions above. Closing this issue

[2019-02-11 17:13] #55 closed

[2019-02-11 17:18] lukasgit commented on #40
Added via PR #52

[2019-02-11 17:18] #40 closed

[2019-02-11 17:20] lukasgit commented on #47
I'll close this issue for now and re-open if you're able to reproduce later.

[2019-02-11 17:20] #47 closed

[2019-02-11 17:23] lukasgit commented on #38
@vova-beloded upgrading to the latest version of Flutter and contacts_service should resolve your issue. I'll close this issue since we haven't heard from you in awhile. Please open a new issue if you run into problems after upgrading to the latest version of Flutter and contacts_service. Thanks!

[2019-02-11 17:23] #38 closed

[2019-02-11 17:43] lukasgit commented on #34
@ThinkDigitalRepair are you still getting this system message using the latest version of Flutter and contacts_service?

[2019-02-11 17:46] lukasgit commented on #32
@yeahia2508 PR #52 added. Closing this issue. Let us know if you're still experiencing problems after upgrading to the latest version of Flutter and contacts_service. Thanks!

[2019-02-11 17:46] #32 closed

[2019-02-11 17:53] lukasgit commented on #31
See @clovisnicolas and @bfproject comments above. Closing this issue.

[2019-02-11 17:53] #31 closed

[2019-02-11 18:09] ThinkDigitalSoftware commented on #34
I haven't used the plugin in a while. I put that project on pause a while
back, sorry.

On Mon, Feb 11, 2019 at 9:43 AM Lukas Dickie <notifications@github.com>
wrote:

--
Think Digital
323-638-9448
760-678-8833
Facebook.com/ThinkDigitalRepair

[2019-02-11 21:36] yokiran opened #57 "Feature: Support Website as a field on the Contact"
Looks like Website is not a supported field on the Contact. Can this be added please.

[2019-02-11 21:39] yokiran opened #58 "Feature: Support Fax as a label for Phone"
Besides Work, Mobile and Home, can Fax be added as label please.

[2019-02-13 00:05] lukasgit commented on #34
I haven't seen the message come up or heard others having the same/similar message. Closing this issue, but if later on you encounter it again feel free to re-open. Thanks!

[2019-02-13 00:05] #34 closed

[2019-02-13 09:32] cantacell opened #59 "Cant Add Contact using API >= 26"
Using emulator (and physical device (Android 5.1) with API version <= 25 all work!
Using emulator (and physical device (Android 8.0) with API version >= 26 I receive the follow message when running ContactsService.addContact(contact) :

`E/flutter (15894): [ERROR:flutter/shell/common/shell.cc(186)] Dart Error: Unhandled exception:
E/flutter (15894): FormatException: Invalid envelope
E/flutter (158

[2019-02-13 18:17] cantacell commented on #59
With API > 25 it needs to invoke SimplePermissions.requestPermission(Permission.ReadContacts) and SimplePermissions.requestPermission(Permission.WriteContacts)

[2019-02-13 18:17] #59 closed

[2019-02-19 14:01] gotgot1995 commented on #58
Hi.

Every other labels would be greatly appreciated as well. Maybe a Map<String,String> to check if the field is present?

Personally, I need to loop over the "labels" (from Android contact). Any idea of how to do that ?

[2019-02-19 16:05] Calin-Cosma opened #61 "Can't read contacts"
I am using an emulation of a Pixel 2 (Android 28).

pubspec.yaml

[code]

After adding the dependencies to contacts_service and simple_permissions and some test code, I get:

[code]

If I try to do

flutter clean

and then try to run the app, I get:

[code]

The code of my function:

[code]

I did add the required lines in the Android Manifest and plist, and in fact it works in the iOs emulator.

[2019-02-19 19:48] trinqk commented on #61
@Calin-Cosma Can you try using a different package to handle permissions? The [simple_permissions](https://github.com/Ethras/flutter_simple_permissions) repository seems to have either been deleted or made private.

[2019-02-19 20:31] trinqk commented on #58
@gotgot1995 I'm working on support for more labels, but updating contacts is a higher priority at the moment so this particular request may be delayed. PRs are definitely welcome. Also, perhaps you could try something like this to loop over the "labels".

[code]

[2019-02-20 01:00] Calin-Cosma commented on #61
I actually tried these 2:

https://github.com/AppleEducate/flutter_simple_permissions (
https://pub.dartlang.org/packages/contacts_service links to it)

and

https://pub.dartlang.org/packages/permission_handler

The first one got me the error I posted. The second one cause a whole
different error (I posted an issue on their Github, too).

I am quite new to Flutter/Dart, and while it seems like a p

[2019-02-21 09:52] weiwill opened #62 "INSTALL_FAILED_CONFLICTING_PROVIDER: Package couldn't be installed"
Two Apps cannot be installed on the same phone after using this plug-in

`Error: ADB exited with exit code 1
adb: failed to install /Users/jgwei/IdeaProjects/loan/build/app/outputs/apk/app.apk: Failure [INSTALL_FAILED_CONFLICTING_PROVIDER: Package couldn't be installed in /data/app/com.ysh.sdb--5GF3pMkE5_bKqOwmq56_g==: Can't install because provider name com.zt.shareextend.fileprovider (in package

[2019-02-24 17:21] StylishSingh opened #64 "Unable to compile after adding plugin"
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

[2019-02-24 17:25] StylishSingh commented on #64
Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

[2019-02-27 12:52] trinqk commented on #61
@Calin-Cosma The issue you are facing may be because of [this Flutter update](https://github.com/flutter/flutter/issues/27106). It broke many plugins for Android(which is probably why it was working on your iOS simulator), and flutter_contacts was one of them.

flutter_contacts was migrated to AndroidX quite recently, so it should be working now.
Try using the latest version of flutter_contacts `c

[2019-03-01 12:49] lambasoft opened #66 "Contacts Saved on Google cloud are not fetched"
Is it normal for contacts available in the phone contact's list but saved only on Google account not to be fetched from the plugin?

It seems that android phones can sync with your google contacts, but without physically adding the contact to your phone. So the plugin can't fetch these contacts?

[2019-03-02 21:21] lukasgit commented on #61
@Calin-Cosma bug fixes have been resolved. Please use the latest version 0.2.3 and review the example app for ways to implement into your app.

I've tested extensively Android Pixel 2 (API 28) and iOS. Everything is working. Closing this issue, but feel free to re-open if you think there's a problem with the plugin.

[2019-03-02 21:21] #61 closed

[2019-03-02 21:25] lukasgit commented on #64
@StylishSingh need more details about your problem:
Do you have the stack trace output?
Are you using the latest contacts_service version 0.2.3 ?

[2019-03-02 21:35] lukasgit commented on #66
@lambasoft the contacts_service plugin does not retrieve Google cloud contacts, only contacts stored on the device.

Is your device configured to sync with Google cloud?
https://productforums.google.com/d/msg/gmail/Dke6yNT_qyE/1hySMDfnBAAJ

[2019-03-10 09:39] guyzk opened #71 "Feature request: Open phone contacts list for contact selection"
This is a very useful feature that I believe many apps could use.
Add a function that opens the phones contact list (instead of importing the whole list into the app) for a single or multiple contact(s) selection and data retrieval.
For example, I want the possibility to fill in a user form with all the details of a specific contact out of my contacts list.
Thanks in advance.

[2019-03-11 21:01] eisdrachl opened #72 "Deleted contact under Android is still there with empty data"
## 🐛 Bug Report

After calling await ContactsService.deleteContact(contact); the contact is not really deleted under Android. The contact is still in the contact list, but listed as "(no name)". I tested it on real devices having Android 5 and Android 8, I got the same result for both.

### Expected behavior

It would be perfect if the contact deletes completely from the contact list.

### Reprodu

[2019-03-12 17:12] trinqk commented on #72
@eisdrachl Fixed by PR [#73](https://github.com/fluttercommunity/flutter_contacts/pull/73). Please use the latest version ```contacts_service: ^0.2.4```

[2019-03-12 17:12] #72 closed

[2019-03-12 17:13] trinqk commented on #58
Added via PR [#73](https://github.com/fluttercommunity/flutter_contacts/pull/73). Please use the latest version ```contacts_service: ^0.2.4```

[2019-03-12 17:13] #58 closed

[2019-03-12 19:33] eisdrachl commented on #72
@trinqk Thank you very much for the fix!

[2019-03-15 13:23] ekuprel opened #74 "Forces me to migrate flutter app to AndroidX"
When using contact service^0.2.4 I ran into a compile errors that lead me to upgrade my flutter app to AndroidX (i.e. https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility)

Is this expected?

[2019-03-19 19:19] trinqk commented on #74
Yes, this is expected.

[2019-03-19 19:19] #74 closed

[2019-03-19 21:04] devmithunnath opened #75 "Build failed with an exception - Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'"
I'm working on a fresh install of Flutter. All I did was adding contact services to the pubspec.yaml file and when I try to run it throws build error.

pubspec.yaml

[code]
Error

[code]

[2019-03-19 21:06] devmithunnath commented on #64
I'm also having the same issue. I'm working on a fresh install of Flutter. All I did was adding contact services to the pubspec.yaml file and when I try to run it throws build error.

pubspec.yaml

[code]
Error

[code]

[2019-03-19 21:06] devmithunnath commented on #64
@lukasgit

[2019-03-21 05:12] lukasgit commented on #75
@devmithunnath can you provide us with additional details by running with --scan option? Thanks!

[2019-03-21 05:14] lukasgit commented on #62
@weiwill we are going to pull the share_extend plug-in on the next version release

[2019-03-21 05:16] lukasgit commented on #64
@devmithunnath see my response to #75

[2019-03-21 05:21] lukasgit commented on #71
@guyzk Thanks for the feature request. We review all feature requests and prioritize them accordingly. To speed up the development cycle, we also welcome the community to participate in implementing new features!

[2019-03-21 05:23] lukasgit commented on #66
@lambasoft ^^

[2019-03-21 05:23] lukasgit commented on #64
@StylishSingh ^^

[2019-03-21 05:30] lukasgit commented on #74
@ekuprel maybe this link will help https://www.reddit.com/r/FlutterDev/comments/apt4hr/flutter_upgrade_and_android_x_beware_solution/

[2019-03-21 12:04] ekuprel commented on #74
Thank you, this link was **very** helpful.

[2019-03-23 01:28] handsondev opened #76 "Feature: Support to choose contact based on associated social media account type"
I have to filter contacts based on the associated social media account type. But there is no field for contact class to know the associated social media account type.

[2019-03-26 09:14] alaindixon opened #77 "Avatar OK on IOS, not working on Android"
Hi All,

When I add a avatar to the contact, it works on IOS but not Android.
Any idea?

Cheers

Alain

[2019-03-26 12:04] DRM7 commented on #75
I'm getting the same thing. I suspect it is the versions named in the Android/build.gradle but I'm honestly too new at this to be sure. I think the versions 16/25 may need to be more current.

android {
    compileSdkVersion 28
    buildToolsVersion '25.0.3'

    defaultConfig {
        minSdkVersion 16
        targetSdkVersion 25

[2019-03-26 17:52] matthewdlloydlp opened #78 "Feature: Get the full image for a contact"
I can get the thumbnail for a contact but it would be nice to have a second call to get the full image for a specific contact so that I can display it larger on a details page.

[2019-04-03 17:42] kmccmk9 opened #79 "Cannot Update Contact Details that don't exist"
Hello,

I've encountered this problem, where if I have a contact Jane Doe, who does not have an address (for example). I update their Contact object to include an address and I call the updateContact method. There are no errors but if I go and check the contact, they will not have an address. I actually forked this repo to begin working on this problem. What I've descovered is using the update que

[2019-04-05 17:54] #66 closed

[2019-04-05 17:56] lukasgit commented on #75
@DRM7 were you able to confirm the underlying issue? Thanks

[2019-04-05 17:58] lukasgit commented on #76
@handsondev we welcome the community to participate in adding features

[2019-04-05 18:01] lukasgit commented on #78
@matthewdlloydlp we also welcome the community to participate in adding features

[2019-04-05 18:02] lukasgit commented on #79
@trinqk thoughts?

[2019-04-06 06:29] lambasoft commented on #66
Sorry for the late reply.
You were correct, the device in question wasn't synced with Google Cloud.

[2019-04-08 00:56] DRM7 commented on #75
I'm sorry. I'm just not experienced enough to prove the issue. I'm still having the problem but I'm unable to ascertain the root cause. Thanks!

[2019-04-10 05:55] StylishSingh commented on #64
2019-04-10 00:46:52.778413-0400 Runner[79107:2190668]
[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception:
MissingPluginException(No implementation found for method getContacts on
channel github.com/clovisnicolas/flutter_contacts)

On Thu, Mar 21, 2019, 10:53 AM Lukas Dickie <notifications@github.com>
wrote:

[2019-04-10 19:35] elbraulio commented on #64
I had a similar error (i don't remember if it was the same) and solved updating `compileSdkVersion` to 28 on `android/app/build.gradle`

[2019-04-10 19:55] StylishSingh commented on #64
I was getting it on iOS not on Android

On Thu, Apr 11, 2019, 1:05 AM Braulio López <notifications@github.com>
wrote:

[2019-04-11 04:09] megid2 opened #80 "Feature request: Notes data field"
First of all, thanks for the plugin! I was wondering about the other contact fields (attributes?), e.g. "notes", that are at least in the Android Contacts API (I have no idea about the iOS contacts API). It would be nice if I could ask the contact service which fields exist, then specify which fields I want. Alternatively, as a simpler solution, could you consider including the notes field?

[2019-04-11 06:14] trinqk commented on #79
If the contact was created by the Native Android contacts app, it seems the update query only works if the field already exists.

@kmccmk9 Your code seems to be working on my end too. Could you create a PR?

[2019-04-17 03:11] apm29 opened #81 "EXC_BAD_ACCESS"
@import "ContactsServicePlugin.h"

@implementation ContactsServicePlugin
+ (void)registerWithRegistrar:(NSObject<FlutterPluginRegistrar>*)registrar {
  [ContactsServicePlugin registerWithRegistrar:registrar];
}
@end

register method throws EXC_BAD_ACCESS when I run it by XCode on my iOS simulator (
iOS 12.2 iPhone8
)
and When i build app by AndroidStudio, app crash on startup splash...I dont know

[2019-04-17 07:40] apm29 commented on #81
I change my flutter channel to stable 1.2.1, and this problem disappeared....magic

[2019-04-17 07:41] #81 closed

[2019-04-21 06:34] lukasgit commented on #80
Implemented notes field #82

[2019-04-21 06:34] #80 closed

[2019-04-21 06:37] lukasgit commented on #35
Added in latest PR #82

[2019-04-21 06:37] #35 closed

[2019-04-21 06:59] lukasgit commented on #64
@StylishSingh @devmithunnath can you check if any of these links help?

https://stackoverflow.com/questions/49254785/apptransformdexarchivewithexternallibsdexmergerfordebug-in-android-studio-3-0-1

https://github.com/firebase/FirebaseUI-Android/issues/1361

[2019-04-21 07:03] lukasgit commented on #77
Fixed in PR #82 please update to the latest version 0.2.5

[2019-04-21 07:03] #77 closed

[2019-04-22 18:41] megid2 commented on #80
Thanks a lot Lukas, and happy easter holidays! (if you have those)

[2019-04-23 02:32] duboce2008 opened #83 "Unsupported Swift Version"
由于我的xcode版本是最新的Version 10.2.1 (10E1001),使用此插件时总会提示:
The target “contacts_service” contains source code developed with Swift 3.x. This version of Xcode does not support building or migrating Swift 3.x targets.

Use Xcode 10.1 to migrate the code to Swift 4.

我不能回退Xcode版本,但又没有什么好的办法来解决

[2019-04-23 23:37] lukasgit commented on #83
Hi @duboce2008 can you please provide the output of your logs? Thanks!

[2019-04-24 03:05] trinqk commented on #79
This should have been fixed in PR [#82](https://github.com/fluttercommunity/flutter_contacts/pull/82). I'm going to close this for now. Let me know if you still have issues with this.

[2019-04-24 03:05] #79 closed

[2019-04-24 14:33] dboce commented on #83
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    The “Swift Language Version” (SWIFT_VERSION) build setting must be set to a supported value for targets which use Swift. Supported values are: 4.0, 4.2, 5.0. This setting can be set in the build settings editor.

Could not build the application for the simulator.
Error launching application on iP

[2019-04-25 08:18] lukasgit commented on #83
@duboce2008 flutter console output?

[2019-04-26 01:20] dboce commented on #83
yes

[2019-04-30 01:36] lukasgit commented on #83
Hi @duboce2008 we need more details. Please use "flutter -v" and post the results. Thanks!

[2019-04-30 08:36] sm9i commented on #75
Probably the problem is that the library you rely on `share_extend'conflicts with other libraries,
     `api' and `androidx.legacy: legacy-support-core-utils: 1.0.0',  and `android.support.v4.app.INotificationSideChannel'  conflicts. I also met.

[2019-04-30 17:50] lukasgit commented on #75
@sm9i looking into it, thanks

[2019-05-02 09:05] multinethenrik opened #85 "SWIFT_VERSION not set"
When installing the pods for iOS, the console provides me with following message:

[!] Unable to determine Swift version for the following pods:

- `contacts_service` does not specify a Swift version and none of the targets (`Runner`)
    integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the
    `SWIFT_VERSION` attribute in at least one of the targets that int

[2019-05-03 14:41] dars commented on #85
I had the same issue.... Orz

[2019-05-04 09:36] remeezp commented on #85
I am having the same issue as well.

[2019-05-04 19:35] trinqk commented on #85
This error might occur if you did not include Swift support for iOS code. Please make sure that your app has [Swift support.](https://stackoverflow.com/questions/52244346/how-to-enable-swift-support-for-existing-project-in-flutter)

[2019-05-05 09:51] sm9i commented on #75
At present, my solution is to replace dependency on'androidx. legacy: legacy-support-core-utils: 1.0.0'with'com. android. support: support-v4:27.1.1'.It can run normally.There should be a better way.

[2019-05-10 04:16] lukasgit commented on #85
@multinethenrik @dars @remeezp

https://stackoverflow.com/questions/54912188/flutter-plugin-ios-build-fail

Let us know if any of these links have helped so we can close this issue. Thanks!

[2019-05-10 04:29] lukasgit commented on #62
@weiwill share_extend removed in PR #87 please upgrade to the latest plugin

[2019-05-10 04:29] #62 closed

[2019-05-10 04:30] lukasgit commented on #64
@StylishSingh @devmithunnath did any of those links help?

[2019-05-10 04:31] lukasgit commented on #75
Fixed in PR #87 please upgrade to the latest plugin

[2019-05-10 04:31] #75 closed

[2019-05-10 05:00] remeezp commented on #85
Hi @lukasgit, I used the link @trinqk posted, but I re-created my project using:

flutter create <PROJECT_NAME> -i swift -a kotlin

I then copied all my libraries and files back and it worked.

[2019-05-10 05:03] dars commented on #85
Hello, @lukasgit I re create my project iOS language to swift
and it's work now 👍
thank you very much ^^

[2019-05-10 08:24] lukasgit commented on #85
@remeezp @dars fantastic! I'll consider this issue resolved.

[2019-05-10 08:24] #85 closed

[2019-05-10 08:26] lukasgit commented on #83
@duboce2008 please check if issue #85 resolves the problem you're experiencing and let me know the results. Thanks!

[2019-05-12 21:23] lambasoft opened #89 "So, because your_app depends on contacts_service ^0.2.6, version solving failed."
My application depends on contacts_service ^0.2.6, and flutter packages get is failing because contacts_service depends on an older version. The error I'm getting:

[code]

Can I fix this myself or we need to make contacts_service use the latest version of path_provider through a pull request?

[2019-05-16 19:47] pneves001 opened #90 "Happens as soon as I include the app into my software. No code has been created yet to utilize it."
/flutter/.pub-cache/hosted/pub.dartlang.org/contacts_service-0.2.6/
    ios/Classes/ContactsServicePlugin.m:2:9: fatal error:
    'contacts_service/contacts_service-Swift.h' file not found
    #import <contacts_service/contacts_service-Swift.h>
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    1 error generated.

Could not build the precompiled application for the device.

[2019-05-24 00:22] trinqk commented on #90
@pneves001 This error might occur if you did not include Swift support for iOS code. Please make sure that your app has [Swift support.](https://stackoverflow.com/questions/52244346/how-to-enable-swift-support-for-existing-project-in-flutter)

[2019-05-27 05:55] Jesse-imuzo opened #92 "Return birthday field"
Thanks for this plugin, It's great!

Is there a way to return the birthday field from the phone's contacts?

[2019-05-28 20:35] simonlinj opened #93 "Bug: Query return false if have company and firstname setted"
Platform: Android

I'm trying to find contacts by Company name. works find if the contact only have Company field. but failing if the contact have first name and company fields.

I believe it's because the query is only by display name.
https://github.com/fluttercommunity/flutter_contacts/blob/b58b508d08f207dd2065c82ddd61c83d96bc134a/android/src/main/java/flutter/plugins/contactsservice/contactsse

[2019-06-08 21:03] bottee commented on #92
Yes, I would also appreciate the birthday field!

[2019-06-13 03:16] jayasio commented on #32
Is there any way to lazy load/get paginated contacts, if I need to load with thumbnails?

[2019-06-13 03:16] jayasio commented on #32
@lukasgit Is there any way to lazy load/get paginated contacts, if I need to load with thumbnails?

[2019-06-14 21:54] budo385 commented on #77
I have this issue on 0.2.7
Working on iOS on Android not working.
Does it have to be of  some specific size or what am I doing wrong?

[2019-06-25 07:14] lukasgit commented on #32
@jayasio There's a number of things that can be improved and it's on our todo list. Check out the latest version that was recently pushed (0.2.8 - many thanks to @budo385 for this contribution).

[2019-06-25 07:19] lukasgit commented on #64
@StylishSingh @devmithunnath @elbraulio should be fixed in PR #95 (thank @budo385). Please update to version 0.2.8

[2019-06-25 07:19] #64 closed

[2019-06-25 07:21] lukasgit commented on #78
@matthewdlloydlp added via PR #95 (thank @budo385). Please update to version 0.2.8

[2019-06-25 07:21] #78 closed

[2019-06-25 07:24] lukasgit commented on #83
We are not experiencing problems building with Swift, so closing this issue due to no response from @duboce2008.

[2019-06-25 07:24] #83 closed

[2019-06-25 07:26] lukasgit commented on #89
@lambasoft are you experiencing this issue when using the latest version of contacts_service (0.2.8) ?

[2019-06-25 07:29] lukasgit commented on #90
@pneves001 closing this issue due to no response. Please let us know if trinqk's solution solved the problem. Thanks!

[2019-06-25 07:29] #90 closed

[2019-06-25 07:30] lukasgit commented on #92
@Jesse-imuzo @bottee looking into it, thanks!

[2019-06-25 07:31] lukasgit commented on #93
@simonlinj are you still experiencing this issue with the latest version 0.2.8 ?

[2019-06-25 07:34] lukasgit commented on #37
Closing this issue due to lack of interest from the community in choosing accounts in the phone to add a contact. Feel free to chime in if you'd like to contribute and I will re-open this issue. Thanks!

[2019-06-25 07:34] #37 closed

[2019-06-25 07:35] lukasgit commented on #6
Closing this issue due to lack of interest from the community to lookup a phone number. If someone would like to contribute I will re-open this issue. Thanks!

[2019-06-25 07:35] #6 closed

[2019-06-25 07:37] lukasgit commented on #24
Closing this issue as there's been a lack of interest in the community regarding this issue. If someone wants to contribute their solution, I will gladly re-open this issue for discussion. Thanks!

[2019-06-25 07:37] #24 closed

[2019-07-01 07:17] nishin-login2 opened #97 "Contact not updating"
I have given both read, write contact permissions in manifest file.
I could fetch contacts and display it in a list.
But updating a contact is not working.
Below is my code.

[code]

What am I doing wrong?

[2019-07-02 21:52] PaddyBadger commented on #92
Thank you @lukasgit, I'd love this too!

[2019-07-08 18:14] ThinkDigitalSoftware commented on #37
I do feel this is a necessity since the contacts apps allow for It, we should be able to duplicate the functionality programmatically. I would say that code should be able to support all customer facing features plus features a dev could use for extra functionality. Does that make any sense?

[2019-07-15 09:17] nashfive opened #98 "Contact custom + operator doesn't copy the displayName"
Hey there!
I need to create a copy from an existing Contact so I went this route:
[code]
But then the original contact's `displayName` is lost. I've noticed that the custom `+` operator doesn't handle the `displayName` property and neither the Contact constructor.
Is it on purpose? If yes, can you elaborate on why?

My quick workaround:
[code]

[2019-07-16 14:07] jishaofeng89 opened #99 "BUILD TARGET flutter_webview_plugin OF PROJECT Pods WITH CONFIGURATION Debug"
=== #BUILD TARGET flutter_webview_plugin OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/administrator/Downloads/flutter/.pub-cache/hosted/pub.flutter-io.cn/amap_base-0.3.5/ios/Classes/search/SearchHandlers.m:59:
    75: warning: values of type 'NSInteger' should not be used as format arguments; add an explicit cast to 'long' instead [-Wformat]
        _result([FlutterError errorWithCode:[

[2019-07-16 19:26] valerycolong opened #100 "Contact not saving with emails, phones or postalAddresses set"
Creating and saving a contact with only string fields set works but fails with any iterable/list value set such as with emails, phones and postaladdress.

[2019-07-16 21:33] valerycolong commented on #100
I figured the data for the iterables must be passed as maps.

[2019-07-16 21:33] #100 closed

[2019-07-18 13:51] yadaniyil opened #101 "Convert avatar (Uint8List) to File"
I'm not able to convert contact's avatar to File.
I tried to
File file = File.fromRawPath(contact.avatar);
But this file seems corrupted because I cannot use Image.file with it or upload to Firebase Storage.

How to convert avatar to File?

[2019-07-22 05:44] marwan-at-work opened #103 "ContactsService.getContacts() returns empty array"
If you run the example folder of this repo under the latest stable Flutter build, the home page doesn't have any contacts even though the iOS simulator has some.

[2019-07-22 10:00] yadaniyil commented on #101
Solution: save the file locally and then use it

[2019-07-22 10:00] #101 closed

[2019-07-26 21:29] b-cancel opened #104 "Add Contacts Doesn't Work"
Please help!

I don't know who else to go to
but add contacts doesn't work anymore

I get this error
"Exception has occurred.
FormatException (FormatException: Invalid envelope)"
in the main console window

and this in the debug output

I'm using VS Code and a modified version of your example file
the modified version uses a plugin that actually works

its the permission plugin

[code]

[2019-07-27 23:27] b-cancel commented on #104
newest update fixed the problem

[2019-07-27 23:27] #104 closed

[2019-07-28 00:33] lukasgit commented on #97
@nishin-login2 are you using the latest version?

[2019-08-28 05:45] idurvesh commented on #19
Do what Mavimo suggested or you can simply remove ios folder and run this command
`$ flutter create -i swift .`

This will rebuild the project with swift integration

[2019-08-29 04:09] lukasgit commented on #103
@marwan-at-work are you still having this issue? I'm unable to reproduce on my end.

[2019-08-29 04:15] lukasgit commented on #99
Hey @jishaofeng89 sorry to hear you're running into trouble. Without seeing your code, it's difficult to debug. Did you follow the example instructions for importing the plugin?

**pubspec.yaml file:**
[code]

**In your code:**
[code]

[2019-08-29 04:17] lukasgit commented on #98
@nashfive heads up, I am not the original author of this plugin. This plugin was written early on and has its limitations. The issue you are experiencing might be related to the limitations. We are working on re-writing a new plugin to replace this plugin from the ground up that is clean, secure, flexible, and easy to maintain.

Our resources are limited, but please feel free to contribute to the

[2019-08-29 04:18] #98 closed

[2019-08-29 04:20] lukasgit commented on #92
@Jesse-imuzo @bottee @PaddyBadger https://github.com/lukasgit/flutter_contacts/issues/12#issuecomment-526012659

[2019-08-29 04:21] #76 closed

[2019-08-29 04:22] #89 closed

[2019-08-29 04:22] #93 closed

[2019-08-31 00:06] jordy-garcia commented on #97
I have this same issue, when I try to update contact, it erase its phone number and not apply any change

[2019-09-09 06:51] lukasgit commented on #97
@nishin-login2 @jordy-garcia please use the latest code from https://github.com/lukasgit/flutter_contacts and let me know if that solves the problem. Thanks!

[2019-09-11 00:10] jordy-garcia commented on #97
Yes It still has the same behaviour, try it in real devices and you'll see. In emulators it works well, but on real devices it erases the phone number

[2019-09-18 05:13] qiuqiu0113 opened #105 "the contact‘s last modify time is needed"
Looks like lost modify time  is not a supported field on the Contact. Can this be added please.

[2019-09-19 16:16] Kyaw-Zin-Thant opened #106 "How to save two phone numbers for one contact?"
I have two phone numbers for one contact. How can I save this two phone numbers in one contact  using flutter contacts_service ?

[2019-09-24 02:54] sdemisse commented on #103
I am having same issue

[2019-10-04 06:20] JERINJACOBCHERIAN commented on #104
[code]

I have done this, it executes but contact is not added. Is it because I havent added the first name and last? But I have given display name. Model doesnt have definition for first and last name?

So does the function return a status?

[2019-10-11 04:35] lukasgit commented on #105
@qiuqiu0113 repo maintained at https://github.com/lukasgit/flutter_contacts/

[2019-10-11 04:35] #105 closed

[2019-10-11 04:35] lukasgit commented on #106
@Kyaw-Zin-Thant repo maintained at https://github.com/lukasgit/flutter_contacts/

[2019-10-11 04:35] #106 closed

[2019-10-11 04:36] lukasgit commented on #103
@marwan-at-work and @sdemisse repo maintained at https://github.com/lukasgit/flutter_contacts/

[2019-10-11 04:36] #103 closed

[2019-10-11 04:36] lukasgit commented on #104
@JERINJACOBCHERIAN repo maintained at https://github.com/lukasgit/flutter_contacts/

[2019-10-11 09:22] JERINJACOBCHERIAN commented on #104
@lukasgit could you tell me which all are the required fields for adding a contact ?

[2019-10-29 14:26] rignaneseleo commented on #55
I got the same problem but I fixed it deleting the ios folder (you might backup it) and running this in the root of the project:
`flutter create -i swift .`

[2019-11-21 22:33] YosefAntonius commented on #97
I have seen that the pattern of contacts that cannot be modified have a link to the icloud or to another platform, for this reason it is impossible to modify it .. A contact normally stored in the cell phone if it can be modified. Is there a way to detect if the contact is synchronized or saved normally?

[2019-11-27 06:38] lukasgit commented on #97
Please submit issues and PR's to https://github.com/lukasgit/flutter_contacts

[2019-11-27 06:38] #97 closed

[2019-11-27 06:40] lukasgit commented on #99
Please submit issues and PR's to https://github.com/lukasgit/flutter_contacts

[2019-11-27 06:40] #99 closed

[2019-11-27 06:41] lukasgit commented on #92
Please submit issues and PR's to https://github.com/lukasgit/flutter_contacts

[2019-11-27 06:41] #92 closed

[2019-11-27 06:41] lukasgit commented on #71
Please submit issues and PR's to https://github.com/lukasgit/flutter_contacts

[2019-11-27 06:41] #71 closed

[2019-11-27 06:41] lukasgit commented on #57
Please submit issues and PR's to https://github.com/lukasgit/flutter_contacts

[2019-11-27 06:41] #57 closed

[2019-11-27 06:44] lukasgit opened #107 "PLEASE READ"
Please submit issues and PR's to https://github.com/lukasgit/flutter_contacts

[2020-03-13 07:32] shirsh94 commented on #3
Contact contact = Contact();
contact.givenName = 'firstname';
    contact.displayName = 'fullname';
    contact.phones = [Item(label: "mobile", value: '2222222222')];
    contact.company = "company";
    ContactsService.addContact(contact);

[2020-03-28 19:25] hassan4000 opened #109 "very slow"
when i open my contact list it takes 7 second to open
i tried library with a lot of device and i faced the same problem

[2020-04-11 18:16] Qson8 commented on #55
Same error.

#import "FlutterAudioRecorderPlugin.h"
#import <flutter_audio_recorder/flutter_audio_recorder-Swift.h>

@implementation FlutterAudioRecorderPlugin
+ (void)registerWithRegistrar:(NSObject<FlutterPluginRegistrar>*)registrar {
  [SwiftFlutterAudioRecorderPlugin registerWithRegistrar:registrar];
}
@end

'flutter_audio_recorder/flutter_audio_recorder-Swift.h' file not found

[2020-04-18 15:07] AhsanAyaz opened #110 "MissingPluginException (MissingPluginException(No implementation found for method getAvatar on channel"
When running on iOS simulator, it always throws this error:

![image](https://user-images.githubusercontent.com/9844254/79641291-e11be280-8196-11ea-8d21-ae9842b0cfc9.png)

Currently running on iPhone 11 simulator

[2020-04-22 04:51] lukasgit commented on #109
@hassan4000 please see https://github.com/fluttercommunity/flutter_contacts/issues/107#issue-529150243

[2020-04-22 04:51] #109 closed

[2020-04-22 04:52] lukasgit commented on #110
@AhsanAyaz this repo has moved. Please see https://github.com/fluttercommunity/flutter_contacts/issues/107#issue-529150243

[2020-04-22 04:52] #110 closed

[2020-06-29 16:17] ayazkhalid commented on #101
can u share the solution??

[2021-08-14 20:57] faizan-jivani commented on #55
just recreate new project and paste lib,assets,ios plits files,menifest,ymal and all required file.
then cd ios,pub install,pub update,flutter build ios.
it will work and generate the build.

[2021-11-15 09:06] flomingdev commented on #101
can you provide some basic example?